@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Redressed&family=Roboto:wght@400;500;700&family=Ubuntu:wght@300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

/* styles */

.nav-bar {
  height: 70px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 64px;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bag {
  display: flex;
  align-items: center;
}

.bag-qty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  background-color: yellow;
  border-radius: 50%;
  color: black;
  font-size: 14px;
  font-weight: 700;
  margin-left: 5px;
}

/* not found page */

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.not-found h2 {
  font-size: 55px;
}

.not-found p {
  font-size: 22px;
}

/* Home styles*/

.home-container {
  padding: 32px 64px;
}
.home-container h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 400;
}
.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
.product {
  width: 250px;
  max-width: 100%;
  height: 400px;
  display: flex;
  border-radius: 15px;
  padding: 1rem;
  flex-direction: column;
  padding: 1rem auto;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product img {
  width: 80%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  margin: 16px;
  margin: 16px auto;
  border-radius: 15px;
}
.product h3 {
  font-weight: 400;
  font-size: 25px;
}
.product .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .details .price {
  font-size: 20px;
  font-weight: 700;
}

.product button {
  width: 100px;
  height: 48px;
  border-radius: 5px;
  margin-top: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  letter-spacing: 1.15px;
  background-color: rgb(36, 36, 189);
}
